.carre{
    height: 65px;
    width: 65px;
    border: 1px solid #A1A1A1;
    background-image:url("images/tile.jpg");
    bottom: 0px;
    left :0px;
    position:absolute;
}

#perso{
    height: 65px;
    width: 65px;
    background-image:url("images/perso.png");
    position: absolute;
    /*positionne le joueur au dessus des bombes*/
    z-index: 1000;
}

 .bomb {
     height: 65px;
     width: 65px;
     background-image: url("images/bombotasse.png");
     position: absolute;
 }

 .mob {
    height: 65px;
    width: 65px;
    background-image: url("images/monster.png");
    position: absolute;
    /*positionne le mob au dessus des bombes*/
    z-index: 1000;
 }

.degats{
    height: 65px;
    width: 65px;
    background-image:url("images/coffeetile1.png");
    position: absolute;
 }

 .destructibles {
    height: 65px;
    width: 65px;
    background-image: url("images/laptop.png");
    position: absolute;
    z-index: 1000;
 }