.carre{
    height: 65px;
    width: 65px;
    border: 1px solid black;
    bottom: 0px;
    left :0px;
    position:absolute;
}

#perso{
    height: 65px;
    width: 65px;
    background-color: blue;
    position: absolute;
    /*positionne le joueur au dessus des bombes*/
    z-index: 1000;
}

 .bomb {
     height: 65px;
     width: 65px;
     background-color: red;
     position: absolute;
 }

 .mob {
    height: 65px;
    width: 65px;
    background-color: rgb(255, 251, 0);
    position: absolute;
    /*positionne le mob au dessus des bombes*/
    z-index: 1000;
 }